
<div class="container">

  <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <h1>Signup</h1>
      <!--------------------------Name-------------------------------------->
      <div class="form-group">
     <div class="row">
        <div class="col">
            <label class="form-label" for="name"  >Name:</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" ngModel pattern="[a-zA-Z ]*">
          <span *ngIf="name!.invalid && name!.touched" class="error">Name field is required</span>
          <span *ngIf="name!.errors!.minLength" class="error">Name field is required</span>

          </div>
      </div>
      </div>
  <!--------------------------Gender----------------------------------->
  <div class="row">
    <div class="col">
  <label >Gender</label>
  <div class="radio-btn">
    <label >
      <input type="radio" name="Gender" value="male" >
        <span class="mark"></span>
        <span class="btn-border">
        </span>Male</label>
        <label>
          <input type="radio" name="Gender"   value="female" >
          <span class="mark"></span>
          <span class="btn-border" >
          </span>Female</label>
      </div>
    </div>
  </div>

<!-------------------------DOB--------------------------------------->
  <div class="row">
    <div class="col">    
      <label for="validationCustom04" class="form-label">Date Of Birth:</label>
        <input class="form-control" type="date"  placeholder="Enter dob" formControlName="dob" >
        <span *ngIf="dob!.invalid && dob!.touched" class="error">DOB field is required</span>

    </div>
  </div>

<!---------------------------email-password---------------------------------->
<div class="row">
  <div class="col">  
    <label  class="form-label">Email:</label>
      <input type="email" class="form-control" formControlName="email" placeholder="email" >
      <span class="error" *ngIf="email!.invalid && email!.touched">email is required</span>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="password">Password</label>
      <input 
          formControlName="password"
          id="password" 
          type="password" 
          class="form-control" 
          placeholder="password"
          required>
      <span *ngIf="password!.touched && password!.invalid" class="error">
          <span *ngIf="password!.errors!.required">Password is required.</span>
      </span>
  </div>

  <div class="form-group">
      <label for="confirm_password">Confirm Password</label>
      <input 
          formControlName="confirm_password"
          id="confirm_password" 
          type="password" 
          class="form-control">
      <div *ngIf="confirm_password!.touched && confirm_password!.invalid" class="error">
          <div *ngIf="confirm_password!.errors!.required">Password is required.</div>
          <div *ngIf="confirm_password!.errors!.confirmedValidator">Password and Confirm Password must be match.</div>
      </div>
  </div>
  </div>
</div>
<!-------------------------Dropdown------------------------------------>
 <div class="row">
    <div class="col">
        <label for="country">Country</label>
          <div class="dropdown">
             <select class="btn btn-outline-secondary dropdown-toggle"  id="country" formControlName="country" required>
              <option value=""> countries</option>
              <option value="India">India</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
        </select>
        <span class="error" *ngIf="country!.invalid && country!.touched">selection is required</span>

     </div>
   </div>
 </div>
  
<div class="form-group">
   <div class="form-check">
     <input class="form-check-input" type="checkbox" value="" formControlName="terms">
     <label class="form-check-label" for="invalidCheck2">
       Agree to terms and conditions
     </label>
   </div>
   <span class="error" *ngIf="terms!.invalid && terms!.touched">terms & condition should be required</span>

</div>
 <!---------------------------signup Button---------------------------------->

<div class="row">
   <div class="col">
     <div class="d-grid gap-2 col-6 mx-auto">
         <button style="background: #92a8d1;" type="submit" class="btn btn-sm"  >Signup</button>
    </div>
  </div>
</div>
</form>
</div>

